*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New, Courier, monospace';
}
body{
    background: grey;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
}
.form-box header{
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
.form-box form .field{
   display:flex;
   margin-bottom: 10px;
   flex-direction: column;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    outline: none;
}
.btn{
    height: 35px;
    border: 0;
    background-color: blanchedalmond;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0px 10px;
    transition: all .3s;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
