body{
    margin: 0;
}

*{
  box-sizing: border-box;
}
.topnav {
    background-color: black;
    overflow: hidden;
}
.topnav a{
  color: azure;
  float: left;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 14px 16px;
}
.topnav a:hover{
  color: blanchedalmond;
  text-decoration: underline;
  transition: 0.5s;
}
.topnav-right{
  float: right;
}
.footer{
  background-color: antiquewhite;
  padding: 20px;
  text-align: center;
}
